# Chapter 2 Assignment

## Denzel Coleman

In [1]:
import pandas as pd

ramen = pd.read_csv("ramen-ratings.csv")
ramen

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2576,Westbrae,Miso Ramen,Pack,USA,0.50

In [2]:
ramen.head(5)

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [3]:
ramen.tail(5)

,Brand,Variety,Style,Country,Stars
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
2576,Westbrae,Miso Ramen,Pack,USA,0.5

In [4]:
ramen.describe().T

        count      mean       std  min   25%   50%   75%  max
Stars  2577.0  3.654676  1.015331  0.0  3.25  3.75  4.25  5.0

In [5]:
ramen.nunique()

Brand       355
Variety    2410
Style         7
Country      38
Stars        42
dtype: int64

In [6]:
ramen.query('Country == "Vietnam"')

,Brand,Variety,Style,Country,Stars
18,Binh Tay,Mi Hai Cua,Pack,Vietnam,4.00
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.00
143,Mum Ngon,Lau Tom Chua Cay,Pack,Vietnam,3.50
224,Vifon,Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...,Bowl,Vietnam,5.00
365,Acecook,Oh! Ricey Pork Flavour,Pack,Vietnam,4.00
...,...,...,...,...,...
2486,Binh Tay,Mi Chay Mushroom,Pack,Vietnam,2.75
2535,Ve Wong,Kung-Fu Chicken Flavor,Pack,Vietnam,2.75
2570,Ve Wong,Mushroom Pork,Pack,Vietnam,1.00
2571,Vifon,Nam Vang,Pack,Vietnam,2.50
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50

In [7]:
ramen[["Brand","Style"]]

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2572           Vifon  Bowl
2573         Wai Wai  Pack
2574         Wai Wai  Pack
2575         Wai Wai  Pack
2576        Westbrae  Pack

[2577 rows x 2 columns]

In [8]:
ramen.Country

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2572     Vietnam
2573    Thailand
2574    Thailand
2575    Thailand
2576         USA
Name: Country, Length: 2577, dtype: object

In [9]:
ramen.sort_values('Stars', ascending=False)

,Brand,Variety,Style,Country,Stars
1585,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.0
446,Maruchan,Instant Lunch Chipotle Chicken Flavor Ramen No...,Cup,USA,5.0
484,Nongshim,Champong Noodle Soup Spicy Seafood Flavor,Pack,South Korea,5.0
483,Nissin,Straits Kitchen Laksa,Pack,Singapore,5.0
1613,Nissin,Raoh Backfat Rich Soy Sauce Flavor,Bowl,Japan,5.0
...,...,...,...,...,...
522,Koyo,Garlic Pepper Reduced Sodium Ramen,Pack,USA,0.0
561,Samyang Foods,Honey & Cheese Big Bowl,Bowl,South Korea,0.0
950,Azami,Kimchee Noodle Soup,Cup,Canada,0.0
2079,Hsin Tung Yang,Tiny Noodle With Oyster Flavor,Pack,Taiwan,0.0
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.0

In [10]:
ramen.Country.replace({'USA':'United States'}, inplace = True)
ramen.query('Country == "United States"').head(5)

,Brand,Variety,Style,Country,Stars
2,Nissin,Cup Noodles Chicken Vegetable,Cup,United States,2.25
11,Yamachan,Yokohama Tonkotsu Shoyu,Pack,United States,5.00
17,Yamachan,Tokyo Shoyu Ramen,Pack,United States,5.00
21,Jackpot Teriyaki,Beef Ramen,Pack,United States,5.00
23,Yamachan,Sapporo Miso Ramen,Pack,United States,4.75

In [52]:
ramen.groupby('Country')['Stars'].mean().sort_values(ascending=False).head(3)

Country
Brazil      4.350000
Sarawak     4.333333
Cambodia    4.200000
Name: Stars, dtype: float64

In [12]:
ramen.groupby('Country')['Stars'].mean().sort_values(ascending=True).head(3)

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64

In [53]:
%time
ramen.groupby('Country')['Stars'].mean().sort_values(ascending=True).head(3)

CPU times: total: 0 ns
Wall time: 0 ns

Country
Nigeria        1.500000
Canada         2.243902
Netherlands    2.483333
Name: Stars, dtype: float64